.content {
    width: 100%;
    height: 100%;

    background-color: #F0F2F4;
    gap: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}

a {
    text-decoration: none;
    color: #3A8EDD;
}

.contentName {
    font-size: 32px;
    line-height: 39px;

    color: #3A8EDD;
}